.button {
    cursor: pointer;
    border: none;

    &-menu {
        position: absolute;
        left: 30px;
        top: 80px;
        color: #ffffff;
    }

    &.text {
        border-radius: 8px;
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        transition: 0.2s;
        letter-spacing: 0.5px;
        padding: 4px 8px;
    }
    &.modal-button {
        padding: 8px;
        height: 36px;
        width: 153px;
    }

    &.info {
        background: none;

        color: #8aa4ff;
        &:hover {
            color: #446bf6;
        }

        &:disabled {
            opacity: 0.3;
            cursor: default;
            background-color: #1e50ff;
        }
    }

    &.danger {
        background-color: rgba(30, 80, 255, 0.1);
        border: 1px solid #8aa4ff;

        &:hover {
            background: rgba(255, 38, 30, 0.1);
            border: 1px solid #ff471e;
            color: #f4cbc2;
        }
    }
}
